java:
  applicationPort: 8088
  image: 'hmctspublic.azurecr.io/wa/case-event-handler:latest'
  ingressHost: wa-case-event-handler-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: wa
  keyVaults:
    wa:
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: s2s-secret-case-event-handler
          alias: S2S_SECRET_CASE_EVENT_HANDLER
        - name: ccd-shared-servicebus-connection-string
          alias: AZURE_SERVICE_BUS_CONNECTION_STRING
        - name: ld-secret
          alias: LAUNCH_DARKLY_SDK_KEY
  environment:
    S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    WA_WORKFLOW_API_URL: "http://wa-workflow-api-pr-249.service.core-compute-preview.internal"
    AZURE_SERVICE_BUS_TOPIC_NAME: "ccd-case-events-{{ .Values.global.environment }}"
    AZURE_SERVICE_BUS_SUBSCRIPTION_NAME: "wa-case-events-sub-{{ .Values.global.environment }}"
